
@use '../../../consts/index.scss' as consts;

.company-form-body-container{
    width: 100%;
    min-height: calc(100vh - 25px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .company-form-container{
        width: 100%;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
        .form-card{
            width: 60%;
            .delete-company-button{
                color: consts.$red;
                border: 2px solid consts.$gray;
                &:hover{
                    border: 2px solid consts.$red;
                }
            }
        }
    }
}