
$white: #f4fafff1;
$white-variant: #ffffff6e;
$black: #000000eb;

$red: #8f0404d0;
$green: #048f14d0;
$orange: #aa7400da;

$gray: #1a1a1a;
$gray-variant: #242424;
$gray-variant2: #404258;

$primary: #211C84;
$primary-variant: #4D55CC;

$secondary: #3674B5;
$secondary-variant: #578FCA;

$blue: #5462f4; 
$blue-variant: #579ed8;

$purple: #646cff;