@use '../../../consts/index.scss' as consts;

* {
    padding: 0;
    margin: 0;
}

.machine-detail-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    word-break: break-word;
    .company-title{
        margin-top: 15px;
        width: 80%;
        height:fit-content;
        padding: 8px;
        border-radius: 8px;
        text-align: center;
        color: consts.$white;
        background-color: consts.$gray-variant;
        box-shadow: 5px 5px 7px rgba($color: consts.$black, $alpha: .2);
    }
    .machine-card{
        width: 90%;
        margin-top: 20px;
        word-break: break-word;
        border: 1px solid consts.$gray;
        background-color: rgba(consts.$gray-variant2, .5);
        box-shadow: 5px 5px 7px rgba($color: consts.$black, $alpha: .2);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 45px;
        .principal-info-container{
            width: 100%;
            padding: 0 2%;
        }
        .machine-info{
            display: flex;
            justify-content: space-around;
        }
        p{
            font-weight: 700;
            span{
                font-weight: 400;
            }
            span.sleeping-status{
                height: fit-content;
                width:fit-content;
                padding: 0 8px;
                background-color: consts.$orange;
                border-radius: 3px;
            }
            span.active-status{
                height: fit-content;
                width:fit-content;
                padding: 0 8px;
                background-color: consts.$green;
                border-radius: 3px;
            }
        }
        hr{
            width: 90%;
            margin: 0 5%;
            height: 2px;
            background: consts.$gray-variant;
        }
        .last-reading-container{
            width: 100%;
            padding: 0 5%;
            justify-items: center;
        }
        .maintenance-history-container{
            width: 100%;
            padding: 0 5%;
            margin-bottom: 45px;
            summary{
                font-weight: 700;
                text-decoration: underline;
            }
            .history-container{
                padding: 0 2%;
            }
        }
        .subtitle{
            color: consts.$gray;
        }
    }
}