@use '../../../consts/index.scss' as consts;

* {
    padding: 0;
    margin: 0;
}

.machine-detail-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    word-break: break-word;
    .company-title{
        margin-top: 15px;
        width: 80%;
        height:fit-content;
        padding: 8px;
        border-radius: 8px;
        text-align: center;
        color: consts.$white;
        background-color: consts.$gray-variant;
        box-shadow: 5px 5px 7px rgba($color: consts.$black, $alpha: .2);
    }
    .machine-card{
        width: 90%;
        margin-top: 20px;
        word-break: break-all;
        border: 1px solid consts.$gray;
        background-color: rgba(consts.$gray-variant2, .5);
        box-shadow: 5px 5px 7px rgba($color: consts.$black, $alpha: .2);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 45px;
    }
}