@use '../../../consts/index.scss' as consts;

.machine-card{
    width: 90%;
    margin-top: 20px;
    word-break: break-word;
    border: 1px solid consts.$gray;
    background-color: rgba(consts.$gray-variant2, .3);
    box-shadow: 5px 5px 7px rgba($color: consts.$black, $alpha: .2);
    padding: 10px;
    border-radius: 10px;
    .principal-info-container{
        width: 100%;
        padding: 0 2%;
    }
    .machine-info{
        display: flex;
        justify-content: space-around;
    }
    p{
        font-weight: 700;
        span{
            font-weight: 400;
        }
        span.sleeping-status{
            height: fit-content;
            width:fit-content;
            padding: 0 8px;
            background-color: consts.$orange;
            border-radius: 3px;
        }
        span.active-status{
            height: fit-content;
            width:fit-content;
            padding: 0 8px;
            background-color: consts.$green;
            border-radius: 3px;
        }
    }
    hr{
        width: 90%;
        margin: 0 5%;
        height: 2px;
        background: consts.$gray-variant;
    }
    .last-reading-container{
        width: 100%;
        padding: 0 5%;
        justify-items: center;
        .last-reading-info{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .last-reading-detail{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .last-reading-detail-temperature-voltage{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .measure-card{
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.5em;
                        border-radius: 20px;
                        height: 55px;
                        background-color: rgba(consts.$gray-variant2, .4);
                        margin: 5px;
                        border: 1px solid consts.$gray;
                        box-shadow: 5px 5px 7px rgba($color: consts.$black, $alpha: .2);
                        transition: all .3s ease;
                        &:hover{
                            cursor: pointer;
                            background-color: rgba(consts.$gray-variant2, .6);
                            border: 1px solid consts.$white;
                        }
                    }
                }
            }
        }
    }
    .maintenance-history-container{
        width: 100%;
        padding: 0 5%;
        margin-bottom: 45px;
        summary{
            font-weight: 700;
            width: fit-content;
            text-decoration: underline;
            cursor: pointer;
        }
        .history-container{
            padding: 0 2%;
        }
    }
    .subtitle{
        color: consts.$gray;
    }
}

#center-circular-progres-readings{
    width: 100%;
    display: flex;
    justify-content: center;
}

.error-message {
    margin-top: 15px;
    height: fit-content;
    width:fit-content;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    color: consts.$white;
    background-color: consts.$red;
}

.measure-message{
    height: fit-content;
    width:fit-content;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
    text-align: center;
    color: consts.$white;
    background-color: rgba(consts.$blue, .3);
}

.last-message{
    margin-top: 15px;
    height: fit-content;
    width:fit-content;
    padding: 5px 25px;
    border-radius: 8px;
    text-align: center;
    color: consts.$white;
    background-color: consts.$gray-variant;
}

.caution-message {
    margin-top: 15px;
    height: fit-content;
    width:fit-content;
    padding: 2px;
    border-radius: 8px;
    text-align: center;
    color: consts.$white;
    background-color: consts.$orange;
}
hr {

    width: 90%;
    border: 1px solid consts.$gray-variant2;
}