
@use '../../consts/index.scss' as consts;



.login-container{
    width: 70%;
    height: calc(100vh - 25px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-background{
        position: absolute;
        height: 800px;
        width: auto;
        margin-bottom: 45px;
        z-index: -1;
        opacity: .5;
    }
    .form-card{
        width: 40%;
        height: fit-content;
        min-width: 300px;
        background: rgba(consts.$gray, 0.99); 
        position: relative;
        .text-field{
            img{
                width: 20px;
                height: 20px;
                transition: all 0.2s;
                cursor: pointer;
                &:hover{
                    filter: drop-shadow(0 0 5px consts.$gray-variant2);
                    
                }
            }
        }
    }

}