
@import './consts/index.scss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background: linear-gradient(45deg, $blue, $blue-variant);
  /*background: radial-gradient(circle, #2200ff, #3ea8ff, #86a8e7, #0cdffa);*/
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  }
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh; // Para ocupar toda la altura de la ventana gráfica
  overflow: auto; // Para manejar el contenido que se desborda
  box-sizing: border-box; // Incluir padding y borde en el ancho total
  
  padding: 0; // Restablecer padding
  margin: 0; // Restablecer margin
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $gray;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-card{
  h1{
    text-align: center;
    padding-bottom: 20px;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  width: auto;
  min-width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  background-color: $gray-variant;
  /* background: linear-gradient(45deg, #091cec, #4aa7f4); */
  .error-message {
    margin-top: 15px;
    height: fit-content;
    width:fit-content;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    color: $white;
    background-color: $red;
  }
  select{
    width: 70%;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 8px;
    border: 1px solid $gray-variant2;
    background-color: $gray;
    color: $white;
    font-size: 1em;
    &:hover{
      border: 1px solid $white;
    }
  }

  .text-field{
    width: 70%;
  }
  .MuiInputBase-input {
    color: $white; // Cambia el color del texto a blanco
    font-size: 1em;
  }
  .MuiInputLabel-root {
      color: $white-variant; // Cambia el color del label a gris
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: $white; // Cambia el color del borde 
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border: 2px solid $white; // Cambia el color del borde al pasar el mouse
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: $white; // Cambia el color del borde cuando está enfocado
  }
  .MuiInputLabel-root.Mui-focused {
    color: $white; // Cambia el color del label cuando el TextField está enfocado
  }

  
  .date-select{
    font-size: 1.2em;
    text-align: center;
    height: 35px;
    width: 80%;
    border-radius: 3px;
    color: $white;
    border: 1px solid $gray-variant2;
    background-color: $gray-variant;
    &:hover{
      border: 1px solid $white;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
